<h1>Admin Panel</h1>
<a class="btn btn-primary" asp-action="GameManagement" asp-controller="Admin" id="btnGameManagement">Game Management</a>
<a class="btn btn-primary" asp-action="EventManagement" asp-controller="Admin">Event Management</a>
<a class="btn btn-primary" asp-action="ReviewManagement" asp-controller="Admin" id="btnReviewManagement">Review Management</a>
<a class="btn btn-primary" asp-action="ReportManagement" asp-controller="Admin">Report Management</a>