@{
    ViewData["title"] = "Report Management";
}

<h1>Download Reports</h1>

<a class="btn btn-primary" asp-action="GameReport" asp-controller="Report">Game Report</a>
<a class="btn btn-primary" asp-action="GameDetailReport" asp-controller="Report">Game Detail Report</a>
<a class="btn btn-primary" asp-action="MemberReport" asp-controller="Report">Member Report</a>
<a class="btn btn-primary" asp-action="MemberDetailReport" asp-controller="Report">Member Detail Report</a>
<a class="btn btn-primary" asp-action="SaleReport" asp-controller="Report">Sale Report</a>


