@*
    TODO: change fake data in this page into real shopping cart list
    The data here just for demo showing, fake data, not belongs to shopping cart
*@

<div class="card text-dark bg-gradient" id="cartbody">
    <div class="row">
        <div class="col-md-8 p-4">

            <div class="row pb-2">
                <div class="col-10">
                    <h4 class="text-info pb-2"> UserName's <div class="text-warning d-inline">Shopping Cast</div></h4>
                </div>
                <div class="col-2 align-self-center text-right text-muted">7 items</div>
                <div class="divid-line"></div>
            </div>

            @* TODO:shooping cart item list*@
            <div class="row border-bottom">
                <div class="row main align-items-center">
                    <div class="col-6">
                        <div class="row">Game Name 1</div>
                        <div class="row text-muted">Game Genre</div>
                    </div>
                    <div class="col-3">
                        <a href="#" id="btnMinCartItemNum">-</a>
                        <a href="#" class="border">1</a>
                        <a href="#" id="btnAddCartItemNum">+</a>
                    </div>
                    <div class="col-3">
                        <a id="txtGamePrice">
                            $ 44.00
                            <a herf="#" id="btnDeleteCartItem">×</a>
                        </a>                      
                    </div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="row main align-items-center">
                    <div class="col-6">
                        <div class="row">Game Name 2</div>
                        <div class="row text-muted">Game Genre</div>
                    </div>
                    <div class="col-3">
                        <a href="#" id="btnMinCartItemNum">-</a>
                        <a href="#" class="border">1</a>
                        <a href="#" id="btnAddCartItemNum">+</a>
                    </div>
                    <div class="col-3">
                        <a id="txtGamePrice">
                            $ 44.00
                            <a herf="#" id="btnDeleteCartItem">×</a>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="row main align-items-center">
                    <div class="col-6">
                        <div class="row">Game Name 3</div>
                        <div class="row text-muted">Game Genre</div>
                    </div>
                    <div class="col-3">
                        <a href="#" id="btnMinCartItemNum">-</a>
                        <a href="#" class="border">1</a>
                        <a href="#" id="btnAddCartItemNum">+</a>
                    </div>
                    <div class="col-3">
                        <a id="txtGamePrice">
                            $ 44.00
                            <a herf="#" id="btnDeleteCartItem">×</a>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="row main align-items-center">
                    <div class="col-6">
                        <div class="row">Game Name 4</div>
                        <div class="row text-muted">Game Genre</div>
                    </div>
                    <div class="col-3">
                        <a href="#" id="btnMinCartItemNum">-</a>
                        <a href="#" class="border">1</a>
                        <a href="#" id="btnAddCartItemNum">+</a>
                    </div>
                    <div class="col-3">
                        <a id="txtGamePrice">
                            $ 44.00
                            <a herf="#" id="btnDeleteCartItem">×</a>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="row main align-items-center">
                    <div class="col-6">
                        <div class="row">Game Name 5</div>
                        <div class="row text-muted">Game Genre</div>
                    </div>
                    <div class="col-3">
                        <a href="#" id="btnMinCartItemNum">-</a>
                        <a href="#" class="border">1</a>
                        <a href="#" id="btnAddCartItemNum">+</a>
                    </div>
                    <div class="col-3">
                        <a id="txtGamePrice">
                            $ 44.00
                            <a herf="#" id="btnDeleteCartItem">×</a>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="row main align-items-center">
                    <div class="col-6">
                        <div class="row">Game Name 6</div>
                        <div class="row text-muted">Game Genre</div>
                    </div>
                    <div class="col-3">
                        <a href="#" id="btnMinCartItemNum">-</a>
                        <a href="#" class="border">1</a>
                        <a href="#" id="btnAddCartItemNum">+</a>
                    </div>
                    <div class="col-3">
                        <a id="txtGamePrice">
                            $ 44.00
                            <a herf="#" id="btnDeleteCartItem">×</a>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row border-bottom">
                <div class="row main align-items-center">
                    <div class="col-6">
                        <div class="row">Game Name 7</div>
                        <div class="row text-muted">Game Genre</div>
                    </div>
                    <div class="col-3">
                        <a href="#" id="btnMinCartItemNum">-</a>
                        <a href="#" class="border">1</a>
                        <a href="#" id="btnAddCartItemNum">+</a>
                    </div>
                    <div class="col-3">
                        <a id="txtGamePrice">
                            $ 44.00
                            <a herf="#" id="btnDeleteCartItem">×</a>
                        </a>
                    </div>
                </div>
            </div>
            @*TODO:button- back to home page*@
            <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>

            <form>
                <p>SHIPPING FEE</p>
                <select>
                    <option class="text-muted">Standard-Delivery- $ 5.00</option>
                    <option class="text-muted">Next-Day-Delivery- $ 15.00</option>
                </select>
                @*show user's shipping address here*@
                <p>
                    SHIPPING ADDRESS
                    @*TODO: change the link jump to profile-filter address*@
                    <a class="btn btn-sm btn-outline-secondary" asp-action="Profile" asp-controller="Profile" id="btnChangeAdd">Change</a>
                </p>
                <p class="text-muted">108 University Ave  <br>Waterloo, ON N2J 2W2</p>
                @*TODO: show user's real credit card numbers here'*@
                <p>
                    CREDIT CARD
                    <a class="btn btn-sm btn-outline-secondary" asp-action="Profile" asp-controller="Profile" id="btnChangeCard">Change</a>
                </p>
                <select>
                    <option class="text-muted">Card Number: ************1234</option>
                    <option class="text-muted">Card Number: ************5678</option>
                </select>
            </form>


            <div class="row border-top border-secondary pt-3 pb-3">
                @*TODO:count total items number and total amount here*@
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">$ 308.00</div>             
            </div>
            <button class="btn btn-warning">CHECKOUT</button>
        </div>
    </div>
</div>

<style>
#cartbody{

    min-height: 100vh;
    vertical-align: middle;
    display: flex;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

.card{
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
}


.summary{
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}

.summary .col-2{
    padding: 0;
}
.summary .col-10
{
    padding: 0;
}.row{
    margin: 0;
}
.title b{
    font-size: 1.5rem;
}
.main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.col-2, .col{
    padding: 0 1vh;
}
a{
    padding: 0 1vh;
}
.close{
    margin-left: auto;
    font-size: 0.7rem;
}
img{
    width: 3.5rem;
}
.back-to-shop{
    margin-top: 4.5rem;
}
h5{
    margin-top: 4vh;
}
hr{
    margin-top: 1.25rem;
}
form{
    padding: 2vh 0;
}
select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
      color:transparent;
}

a{
    color: black;
    text-decoration: none;
}

</style>

