@{
    ViewData["title"] = "Confirmed Email";
}

<div class="text-center ">
    <h1>Confirm Email</h1>
    <img style="width:250px;" src="/img/email.png" alt="Open envelope picture" />
    <h2>Thanks for confirming your email</h2>
</div>